/* Register our custom font family and tell the browser where to find it. */
@font-face {
  font-family: "BerkleyMono";
  src: url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BerkleyMono";
  src: url("/fonts/BerkeleyMonoVariable-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: BerkleyMono, monospace;
  }

  code {
    font-family: BerkleyMono, monospace;
  }
}

.table-of-contents::before {
  content: "Contents";
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.33333333;
}
