---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION,SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container mx-auto space-y-5">
        <div>
          <p class="text-md font-thin">Hello, I'm</p>
          <p class="text-xl">Aidan Kinzett</p>
        </div>

        <div>
          <p class="text-md font-thin">I work as a</p>
          <p class="text-xl">Full Stack Developer</p>
        </div>

        <div>
          <p class="text-md font-thin">currently at</p>
          <p class="text-xl">Labrys</p>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
