---
import Header from "./Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body>
    <Header />
    {
      Astro.slots["beneath-header"] && (
        <div class="bg-primary-200  border-b-black border-b-2 space-y-4">
          <div class="container max-w-screen-md mx-auto py-16 px-10">
            <slot name="beneath-header" />
          </div>
        </div>
      )
    }
    <main class="container max-w-screen-md mx-auto py-16 px-10 space-y-5">
      <slot />
    </main>
  </body>
</html>
