---
const { slug, title, pubDate, description } = Astro.props;
---

<li>
  <div>
    <a href={`/blog/${slug}/`} rel="prefetch">
      <div class="underline underline-offset-4 dark:text-primary-200">
        {title}
      </div>
    </a>
    <time datetime={pubDate.toISOString()} class="font-thin">
      {
        pubDate.toLocaleDateString("en-us", {
          year: "numeric",
          month: "short",
          day: "numeric",
        })
      }
    </time>
    <div class="prose dark:prose-invert">{description}</div>
  </div>
</li>
