---
const { slug, title, pubDate, description } = Astro.props;
---

<li class="bg-primary-50 hover:bg-primary-100 border-black border-2">
  <a href={`/blog/${slug}/`} rel="prefetch">
    <div class="p-4 hover:cursor-pointer">
      <div class="underline underline-offset-4">{title}</div>
      <time datetime={pubDate.toISOString()} class="font-thin">
        {
          pubDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })
        }
      </time>
      <div class="prose">{description}</div>
    </div>
  </a>
</li>
