---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div
      class="bg-primary-200 p-10 flex justify-center w-full border-b-black border-b-2"
    >
      <div
        class="flex flex-col sm:flex-row space-y-2 align-baseline justify-between max-w-screen-md w-full text-black"
      >
        <div class="space-x-4">
          <HeaderLink href="/">Home</HeaderLink>
          <HeaderLink href="/blog">Blog</HeaderLink>
          <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="space-x-4">
          <HeaderLink
            href="https://hachyderm.io/@aidankinzett"
            target="_blank"
            rel="me"
          >
            Mastodon
          </HeaderLink>
          <HeaderLink href="https://github.com/aidankinzett" target="_blank">
            GitHub
          </HeaderLink>
        </div>
      </div>
    </div>
  </nav>
</header>
