---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div
      class="flex align-baseline justify-between rounded border p-4 bg-gray-100"
    >
      <div>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
      </div>
      <div>
        <HeaderLink
          href="https://hachyderm.io/@aidankinzett"
          target="_blank"
          rel="me"
        >
          Mastodon
        </HeaderLink>
        <HeaderLink href="https://github.com/aidankinzett" target="_blank">
          GitHub
        </HeaderLink>
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
