---
import { Icon } from "astro-icon";
---

<a
  href="/rss.xml"
  class="flex items-center space-x-1 hover:text-orange-500 hover:cursor-pointer"
>
  <div>RSS</div>
  <Icon pack="mdi" name="rss-box" class="h-5 w-5" />
</a>
