---
---

<div id="utterances-container"></div>

<script>
  const script = document.createElement("script");
  const container = document.querySelector("#utterances-container");

  Object.entries({
    src: "https://utteranc.es/client.js",
    repo: "aidankinzett/astro-blog",
    "issue-term": "pathname",
    label: "💬 Comment",
    theme: "preferred-color-scheme",
    crossorigin: "anonymous",
  }).forEach(([key, value]) => {
    script.setAttribute(key, value);
  });

  container?.appendChild(script);
</script>
